</div>
</div>
<!-- /#page-content-wrapper -->

</div>
</body>
<!--the thing below doesn't work...?-->
<!--<script src="../bower_components/jquery/src/jquery.js"></script>-->
<script src="js/jquery.js"></script>
<script src="plugins/jquery.fullbg.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- Menu Toggle Script -->
<script>
    $(function(){
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $(window).load(function() {
        $("#background").fullBg();
    });
    $('#link').click(function (e) {
        $('#example').slideToggle();
        e.preventDefault();
    });
    $('#tabs').tab();

        $('#logout').click(function () {
        document.cookie = 'koala=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        document.cookie = 'koala.sig=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    });
    });
</script>
</html>
