<% include header %>

<span class="header"><h1><span class="headerBGColor"></span></h1></span>
<div class="row">
    <div class="col-lg-12">



    </div>
</div>
<% include footer %>
<script src="http://connect.soundcloud.com/sdk.js"></script>
<script>
    // initialize client with app credentials
    SC.initialize({
        client_id: 'da017f641a7d7c3ba80e192b87997299',
        redirect_uri: 'http://localhost:3000/callback'
    });

    // initiate auth popup
    SC.connect(function() {
        SC.get('/me', function(me) {
//send return value of soundcloud api call to your own servers to update your local user record.
            $.ajax({
                url:"/login",
                method: "POST",
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(me)
            }).done(function(res, err){
                return window.location = "/profile";
            }).fail(function(err) {
            });
        });
    });
</script>