<% include header %>

<span class="header"><h1><span class="headerBGColor"><%= playlists[0].mood_name %> Playlists</span></h1></span>
<div class="row">
    <div class="col-lg-12">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Playlist</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <% playlists.forEach(function(playlist) { %>
            <tr>
                <td><%= playlist.playlist_name %></td>
                <td><%- playlist.playlist_url %></td>
            </tr>
            <% }); %>
            </tbody>
        </table>

    </div>
</div>
<% include footer %>
