body {
    background-color: #ECF5F5;
    color:rgb(0, 44, 66);
}
.fullBg {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#maincontent {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
}

#background {
    opacity: .4;
}

.logo{
    width: 12%;
}

.header h1 {
    text-align: center;
    color: white;
}

.headerBGColor {
    background-color: #5C9BB2;
}

.form-group {
    text-align: center;
}

.createPlaylistForm {
    width: 40%;
    margin: auto;
}

.createPlaylistForm button {
    width: 50%;
    background-color:#5C9BB2;
    border: none;
    color: white;
}

.createPlaylistForm button:hover {
    color: dimgray;
}
#example {
    display:none;
}

iframe {
    height: 4em;
}

.profileInfo {
    text-align:left;
}

.profileStuff {
    color: rgb(31, 108, 147);
    font-size: 1.4em;
    line-height: 1.4em;
}